<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qa.mybatis">
    <select id="login" resultType="com.chuntarqa.dto.UserTable" parameterType="map">
        select user, pass, mail, category from usertable where user = #{user} and pass = #{pass};
    </select>

    <select id="selectList" resultType="com.chuntarqa.dto.RQATable">
        select no, question, title, answer, lastupdate, user from rqatable order by no desc;
    </select>

    <insert id="insertQa" parameterType="map">
        insert into rqatable (question, title, answer, lastupdate, user) values (#{question}, #{title}, #{answer}, strftime('%Y-%m-%d', 'now'), #{user});
    </insert>

    <update id="updateQa" parameterType="map">
        update rqatable set question = #{question}, title = #{title}, answer = #{answer}, lastupdate = strftime('%Y-%m-%d', 'now') where no = #{no};
    </update>

    <delete id="deleteQa" parameterType="map">
        delete from rqatable where no = #{no};
    </delete>

    <select id="selectQaOne" resultType="com.chuntarqa.dto.RQATable" parameterType="map">
        select no, question, title, answer, lastupdate, user from rqatable where no = #{no};
    </select>

    <select id="selectMail" resultType="com.chuntarqa.dto.UserTable">
        select mail from usertable;
    </select>

    <select id="selectBetween" parameterType="map" resultType="com.chuntarqa.dto.RQATable">
        select no, question, title, answer, lastupdate, user from rqatable order by no desc limit #{from}, #{to};
    </select>

    <select id="selectSearch" parameterType="map" resultType="com.chuntarqa.dto.RQATable">
        select no, question, title, answer, lastupdate, user from rqatable where answer like ('%' || #{question} || '%') or question like ('%' || #{question} || '%') or title like ('%' || #{question} || '%') order by no desc;
    </select>

    <select id="selectCategory" resultType="com.chuntarqa.dto.UserTable" parameterType="map">
        select category from usertable where user = #{user};
    </select>
</mapper>